.mainBackground{
    -fx-background-color: #005e98;
}

.days_background{
    -background-color: #005e98;
    -fx-background-radius: 50;
}

.mainInfoCurrrentWeather{
-background-color: #005e98;
    -fx-background-radius: 25;
}

.date{
-fx-font-size : 5px;
}
