
.mainBackground{
    -fx-background-color: #120907;
	-fx-font-family: 'Poppins Medium';
}

.weather-container {
 -fx-background-color:  #1e1e36;
 -fx-background-radius: 25;
}

.days_background{
    -background-color: #005e98;
    -fx-background-radius: 50;
}

.cityLabel {
	-fx-text-fill: white;
	-fx-background-radius: 25;
}

.button {
    -fx-background-color: linear-gradient(#f0b273, #d17d28);
    -fx-background-radius: 30;
    -fx-text-fill: white;
}



